.cars_list{
    width: 600px;
}
.search {
    margin: 0 auto;
    width: 450px;
    padding: 20px 0;
}
.cars_column {
    width: 600px;
}
.cars_column div:first-child {
    margin-left: 10px;
    width: 10px;
}
.cars_column div {
    width: 95px;
}
.aa:nth-child(odd) {
    background-color: #c0c0c0;
}
.aa:nth-child(even) {
    background-color: #cccccc;
}
.header_list {
    background-color: gray;
}
